.hireBlock {
    height: 30vh;
    background-color: lightsteelblue;
}

.hire {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

.hireTitle {
    background-color: #2d71dc;
}

.hireMeButton {
    background-color: #2d71dc;
    font-size: 25px;
    font-family: Broadway serif;
    border: 3px solid rgba(255, 255, 255, 0.71);
    height: 43px;
    width: 105px;
}

.hireMeButton:hover {
    font-weight: bold;
}

