@import '../common/styles/sass/variables';
.header {
    background-color: $secondColor;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    padding: 0 50px;
}