.contactsBlock {
    height: 50vh;
    background-color: #b0d270;
}

.contactsContainer {
    flex-direction: column;
    justify-content: center;
    border: 1px solid;
}

.title {
    background-color: #556e27;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    background-color:#556e27 ;
    border: 1px solid #556e27;
    padding-top:10px;
}

.button {
    background-color: #556e27;
    padding: 10px 20px;
    margin: 5px;
}

.form button {
   width: 50%;
    align-self: center;
}

@media screen and (max-width: 912px) {
    .form {width: 80%;}
}


