.nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;

}

.nav a {
    color: white;
    font-family: Montserrat,sans-serif;
    text-decoration: none;
}

.nav a:hover:active {
    color: rgb(29, 53, 161);
}