@import '../../common/styles/sass/variables';

.nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
  margin-right: 250px;
  a {
    color: $basicColor;
    font-family: "Cordia New", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      color: $mainColor;
    }
  }
  .active {
    color: $mainColor;
  }
}
