.skillsBlock {
    background-color: white;
}

.skillsContainer {
    justify-content: start;
    flex-direction: column;

}

.title {
    background-color: pink;
}

.skills {
    border: 2px solid rgb(29, 53, 161);;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: rgb(29, 53, 161);
    padding: 5px;
}