@import '../common/styles/sass/variables';

.mainBlock {
    height: 100vh;
    background-color: $mainColor;
  .particles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .text {
    width: 500px;
    padding: 20px;
    font-family: "Cordia New", sans-serif;
    font-size: 35px;
    color: $secondColor;
    h1 {
      margin: auto 0;
      font-weight: bolder;
    }
    .locationIcon {
      height: 30px;
      width: 30px;
    }
  }
  .photoDiv {
    z-index: 1;
    position: relative;
    //width: 300px;
    //height: 400px;
    .photo {
      width: 300px;
      height: 400px;
      background-position: 80% 0;
      background-size: cover;
    }
    .photoFrame {
      border: 3px white solid;
      content: "";
      height: 110%;
      left: 25px;
      position: absolute;
      top: -25px;
      width: 105%;
      z-index: -1;
    }
  }
}






