@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';
.project {
    z-index: 1;
    width: 450px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $mainColor;
    .img {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 377px;
        width: 375px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            border: 2px solid $secondColor;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0.4
        }
        @media screen and (max-width: 372px) {
                height: 225px;
                width: 225px;
        }
        .projectLink {
            text-decoration: none;
            text-align: center;
            line-height: 2.5;
            font-family: Montserrat,sans-serif;
            position: relative;
            background-color: rgba(255, 255, 255, 0.89);
            font-weight: bold;
            height: 40px;
            width: 100px;
            border-radius: 60px;
            color: $secondColor;
            &:hover {
                background-color:  $secondColor;
                color: $basicColor;
            }

        }
    }
    .projectInfo {
        text-align: center;
        padding: 10px;
        .projectTitle {
            @include text(Montserrat, sans-serif, 30px, 1.2, $secondColor);
            margin: 0 0 5px;
        }
        .description {
            @include text("Calibri Light", sans-serif, 18px, 1.8, $secondColor);
        }


    }
}




