.project {
    width: 450px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    align-items: center;
}

.imgLinkContainer {
    background-image: url("https://kissflow.com/hubfs/project-creative-banner-1.png");
    background-size: cover;
    height: 377px;
    width: 375px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectLink {
    background-color: rgba(255, 255, 255, 0.56);
    font-weight: bold;
    height: 25px;
    width: 95px;
    text-align: center;
    vertical-align: middle;
    border-radius: 60px;
    color: black;
}

.projectLink:hover {

}

.projectTitle {
    background-color: plum;
}

.description {
    background-color: plum;
}

@media screen and (max-width: 372px) {
    .imgLinkContainer {
        height: 225px;
        width: 225px;
    }
}