@import '../common/styles/sass/variables';

.footerBlock {
  background-color: $secondColor;

  .footerContainer {
    .myName {
      color: $basicColor;
    }

    .socialNetworks {
      display: flex;
      width: 350px;
      align-items: center;
      justify-content: space-between;
      height: 110px;
      color: white;

      .iconContainer {
        display: flex;
        flex-direction: column;
        align-items: center
      }

      .link {
        color: white;
      }

      .icons {
        width: 50px;
        height: 50px;
        background-color: $secondColor;
        color: $basicColor;
      }
    }

    .rights {
      color: $basicColor;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    }
  }
}







